@keyframes shimmerAnimation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.shimmer {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  background: linear-gradient(
    to right,
    rgba(246, 247, 248, 0.8) 8%,
    rgba(226, 226, 226, 0.8) 18%,
    rgba(246, 247, 248, 0.8) 33%
  );
  background-size: 800px 100%;
}
